/**
 * 
 * This style sheet should be used with "flipper.js".
 *
 **/

.opaque-content {
    opacity: 0;
}

.smooth-opaque {
    transition: opacity 0.5s;
}

div .flip-select {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-top: 1rem solid #3498db;
    cursor: pointer;
    transition: transform 0.5s;
}
