# Processing files
*.md
!README.md
convert.html

# Old versions
_old/*

# LaTeX CV
yxiao-cv/*
!yxiao-cv/yxiao-cv.pdf
yxiao-cv-chn/*
!yxiao-cv-chn/yxiao-cv-chn.pdf

# CV merger
mergecv.py

# TODO list
TODO.*